<!DOCTYPE html>
<html>
<head>
    <title>Create Quiz</title>
</head>
<body>

<h2>Create Quiz</h2>

<form method="POST">

    <!--Quiz Title:-->
    <label>Quiz Title:</label>
    <input type="text" name="title" required><br><br>

<!--link to lesson-->
<label>Select Lesson:</label><br>
<select name ="lesson_id" required>
    {% for lesson in lessons %}
        <option value="{{ lesson[0] }}">{{lesson[1] }}</option>
    {% endfor %}
</select>

<br><br>

    <!-- Question 1 -->
    <p>Question 1:</p>
    <input type="text" name="question_1"><br>

    <input type="text" name="answer_1_1"> <input type="radio" name="correct_1" value="1"> Correct<br>
    <input type="text" name="answer_1_2"> <input type="radio" name="correct_1" value="2"><br>
    <input type="text" name="answer_1_3"> <input type="radio" name="correct_1" value="3"><br>
    <input type="text" name="answer_1_4"> <input type="radio" name="correct_1" value="4"><br>

    <br>

    <!-- Question 2 -->
    <p>Question 2:</p>
    <input type="text" name="question_2"><br>

    <input type="text" name="answer_2_1"> <input type="radio" name="correct_2" value="1"> Correct<br>
    <input type="text" name="answer_2_2"> <input type="radio" name="correct_2" value="2"><br>
    <input type="text" name="answer_2_3"> <input type="radio" name="correct_2" value="3"><br>
    <input type="text" name="answer_2_4"> <input type="radio" name="correct_2" value="4"><br>
    
        <br>

    <!-- Question 3 -->
    <p>Question 3:</p>
    <input type="text" name="question_3"><br>

    <input type="text" name="answer_3_1"> <input type="radio" name="correct_3" value="1"> Correct<br>
    <input type="text" name="answer_3_2"> <input type="radio" name="correct_3" value="2"><br>
    <input type="text" name="answer_3_3"> <input type="radio" name="correct_3" value="3"><br>
    <input type="text" name="answer_3_4"> <input type="radio" name="correct_3" value="4"><br>

    <br>

    <!-- Question 4 -->
    <p>Question 4:</p>
    <input type="text" name="question_4"><br>

    <input type="text" name="answer_4_1"> <input type="radio" name="correct_4" value="1"> Correct<br>
    <input type="text" name="answer_4_2"> <input type="radio" name="correct_4" value="2"><br>
    <input type="text" name="answer_4_3"> <input type="radio" name="correct_4" value="3"><br>
    <input type="text" name="answer_4_4"> <input type="radio" name="correct_4" value="4"><br>

    <br><br>
    <button type="submit">Create Quiz</button>

</form>

</body>
</html>
